


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stock Page</title>

        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/stockinfo.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="./test/test.js"></script> 

        <link rel="stylesheet" type="text/css" href="/static/css/index.css">


    </head>
    <body>


    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->


              <form class="navbar-form navbar-right" role="search" method='GET' action='/stockinfo'>
                    <div class="form-group">
                         <input type="text" class="search form-control" placeholder="Stock Ticker" name='ticker'>
                    </div>
                    <button type="submit" class="search btn btn-default">Quote</button>
              </form>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
            <ul class="nav navbar-nav navbar-left">
                 <li ><a id='logo' href="www.stockflare.com">Stockflare</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <div class='container'>

        <div class='row'>

            <!-- Stock Intro Div -->
            <div class='col-md-12'>
                <div id='header' class='panel panel-default col-xs-12 col-sm-12 col-md-12'>
                    <div class='col-xs-7 col-sm-7'>
                        <h3 id='name' class='info name'></h3>
                        <h3 id='ticker' class='info'></h3>
                    </div>
                    <div class='col-xs-5 col-sm-5'>
                        <h3 id='price' class='info green currencySymbol'></h3>
                        <h3 id='chg' class='currencySymbol'></h3>
                    </div>
                </div>
            </div>

        </div>  <!-- ROW -->



        <div class='row'>

            <!-- navigation div -->
            <div class='col-md-12'>
                <div id='header' class='panel panel-default col-xs-12 col-sm-12 col-md-12'>
                    <a href='#5metrics'>
                        <div class='navigation col-xs-12 col-sm-6 col-md-3'>
                            <h5 class='text-center info'>Stockflare Metrics</h5>
                        </div>
                    </a>
                    <a href='#performanceMetrics'>
                        <div class='navigation col-xs-12 col-sm-6 col-md-3'>
                            <h5 class='text-center info'>Performance Metrics</h5>
                        </div>
                    </a>
                    <a href='#advancedMetrics'>
                        <div class='navigation col-xs-12 col-sm-6 col-md-3'>
                            <h5 class='text-center info'>Advanced Metrics</h5>
                        </div>
                    </a>
                    <a href='#chart'>
                        <div class='navigation col-xs-12 col-sm-6 col-md-3'>
                            <h5 class='text-center info'>Performance Chart</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>  <!-- ROW -->


        <div class='row'>

            <!-- 5 Metrics Div -->
            <div class='col-md-6'>
                <div id='5metrics' class='panel panel-default col-xs-12 col-sm-12 col-md-12'> 
                        <div class='col-xs-12 col-sm-12'>
                        <h4 class='divHeader'>Stockflare Metrics:</h4>
                            <div class='panel panel-default'>
                                <table class='table'>
                                  <tr>
                                    <td id='growing' class='5metrics'><h5 class='text-center'>Growth</h5></td>
                                    <td><h5 id='growth' class='info'></h5></td>
                                  </tr>
                                  <tr>
                                    <td id='dividends' class='5metrics'><h5 class='text-center'>Dividends</h5></td>
                                    <td><h5 id='dps' class='info currencySymbol'></h3></td>
                                  </tr>
                                  <tr>
                                    <td id='priceTarget' class='5metrics'><h5 class='text-center'>Price Target</h5></td>
                                    <td><h5 class='info priceTarget currencySymbol'></h5></td>
                                  </tr>
                                  <tr>
                                    <td id='profitable' class='5metrics'><h5 class='text-center'>Profitability</h5></td>
                                    <td><h5 id='eps' class='info currencySymbol'></h5></td>
                                  </tr>
                                  <tr>
                                    <td id='cheaper' class='5metrics'><h5 class='text-center'>Value</h5></td>
                                    <td><h5 id='peRatio' class='info'></h5></td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                </div>
            </div>

            <!-- Chart Div -->
            <div class='col-md-6'>
                <div id='chart' class='panel panel-default col-xs-12 col-sm-12 col-md-12'>
                    <div class='col-xs-12 col-sm-12'>
                        <h4 class='divHeader'>Performance Chart:</h4>

                            <div id="container" style="height: 400px; min-width: 310px"></div>

                    </div>
                </div>
            </div>
        </div>


        <div class='row'>

            <!-- Performance Div -->
            <div class='col-md-6'>
                <div id='performanceMetrics' class='panel panel-default col-xs-12 col-sm-12 col-md-12'>
                    <div class='col-xs-12 col-sm-12'>
                        <h4 class='divHeader'>Performance Metrics:</h4>
                        <h5 class='info'>Market Cap (US$): <div class='info pull-right currencySymbol' id='marketcap'></div></h5>
                        <h5 class='info'>52 Week High: <div class='info green pull-right currencySymbol' id='52high'></div></h5>
                        <h5 class='info'>52 Week Low: <div class='info red pull-right currencySymbol' id='52low'></div></h5>
                        <h5 class='info'>Price Target: <div id='priceTarget2' class='info pull-right priceTarget currencySymbol'></div></h5>
                        <hr>
                        <h5 class='info'>Financial Analysis:</h5>
                        <h6 id='analysis' class='info'></h6>
                    </div>
                </div>
            </div>
    

            <!-- Advanced Metrics Div -->
            <div class='col-md-6'>
                <div id='advancedMetrics' class='panel panel-default col-xs-12 col-sm-12 col-md-12'>
                    <div class='col-xs-12 col-sm-12'>
                        <h4 class='divHeader'>Advanced Metrics:</h4>
                            <h5 class='info'>Gross Margin: <div class='info pull-right' id='grossMargin'></div></h5>
                            <h5 class='info'>Nett Margin: <div class='info pull-right' id='netMargin'></div></h5>
                            <h5 class='info'>Price to Book Value: <div class='info pull-right' id='bookValue'></div></h5>
                            <h5 class='info'>Return on Equity: <div class='info pull-right' id='ROE'></div></h5>
                    </div>
                </div>
            </div>
        </div><!-- ROW -->

    </div> <!-- For the container -->
    </body>
</html>
