

body {
	background-color: rgba(250, 250, 250, 1);
}

.panel {
	border-radius: 0 0 0 0;
	border-color: #07A3EE;
	background-color: white;
}

hr {
	border-color: #07A3EE;
}

/*************  NAV BAR **************/

.search {
	border-radius: 0 0 0 0;
}

.navbar {
	background-color: #07A3EE;
}

#logo {
	color: white;
}	

.btn {
	color: #07A3EE;
}



/*************  NAVIGATION DIV **************/

.navigation:hover {
	background-color: #07A3EE;
}

.navigation h5:hover {
	color: white;
}

#name {
	color: #07A3EE;
}


/*************  STOCK INTRO DIV **************/

.divHeader {
	color: #07A3EE;
}

h2 {
	color: rgba(133, 137, 146, 1);
}

#ticker {
	color: rgba(133, 137, 146, 1);
}


.info {
	color: rgba(133, 137, 146, 1);
}

/*************  STOCKFLARE METRICS **************/



/***************** Other ********************/

.green {
	color: rgba(9, 187, 0, 1);
}

.red {
	color: rgba(250, 0, 24, 1);
}